.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
}

ul#postcodes-list li {
    margin: 4px 6px;
    padding: 3px 5px;
    display: inline-block;
}

ul#postcodes-list li:hover {
    background-color: #cccccc;
}