<!doctype html>
<html lang="en" ng-app="propertycrunchApp" ng-controller="AppCtrl">
	<head>
		<meta charset="utf-8"/>
		<title ng-bind="$state.current.name + ' - Property Crunch'"></title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="description" content="Property Crunch - A Smarter Way to Buy" />
		<link rel="author" href="humans.txt">
		<link rel="stylesheet" href="assets/css/style.css">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="assets/ico/favicon.png">
	</head>

	<body>

		<nav class="left-nav" role="complementary">
			<ul>
				<li><a ui-sref="dashboard"><i class="ion-home"></i> Dashboard</a></li>
				<li><a ui-sref="search"><i class="ion-search"> </i>Search</a></li> 
				<li><a ui-sref="calculation"><i class="ion-calculator"></i> Recent Views</a></li> 
				<li><a ui-sref="alerts"><i class="ion-alert-circled"></i> Alerts</a></li> 
				<li><a ui-sref="settings"><i class="ion-gear-b"></i> Settings</a></li> 
				<li class="logout-btn"><a href="/pc/views/login/index.html"><i class="ion-log-out"></i> Logout</a></li>                                          
			</ul>
		</nav>

		<div class="wrapper">
			<header role="banner" class="fz-1_5">
				<div class="container ta-c">
					<a class="menu-btn" ng-click="showNav()"><i class="ion-navicon-round fl-l"></i></a>
					<span ng-bind="$state.current.name"></span>
					<a ui-sref="search"><i class="ion-ios7-search-strong fl-r"></i></a>
				</div>
			</header>		
			
			<div ui-view></div>
		</div>
		
		<script src="vendor/jquery.js"></script>
		<script src="vendor/angular.min.js"></script>
		<script src="services/angular-ui-router.js"></script>
		<script src="services/ui-bootstrap-tpls-0.10.0.js"></script>
		
		<script src="app.js"></script>

		<script src="controllers/AppController.js"></script>
		<script src="controllers/DashboardController.js"></script>
		<script src="controllers/SettingsController.js"></script>	
		<script src="controllers/NewCalculationController.js"></script>	

		<script src="vendor/fastclick.js"></script>
		<script src="vendor/jquery.blockUI.js"></script>
		<script src="vendor/custom.js"></script>	

	    <script type="text/ng-template" id="myModalContent.html">
	        <div class="modal-header ta-c">
	            <h3 class="m-0">Hold Up</h3>
	        </div>
	        <div class="modal-body">
	        	We're sorry Property Crunch isn't yet quite ready for desktops. 
	        	You're more than welcome to use it but keep in mind it isn't yet finished.
	        </div>
	        <div class="modal-footer ta-c">
	            <button class="btn btn-success" ng-click="ok()">Got It</button>
	        </div>
	    </script>	
	    			

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-50377409-1', 'propertycrunch.co');
		  ga('send', 'pageview');

		</script>
	</body>
</html>