	<main role="main">
		<form action="" class="mb-2 container">
			<section class="mt-1">
				<div class="title-txt">Postcode</div>
				<input type="text" class="full-w">
			</section>	

			<section class="mt-1">
				<div class="title-txt">Radius</div>
				<input type="text" class="full-w w-7" placeholder="1 Mile">
				<i class="calc-btn ion-minus"></i>
				<i class="calc-btn ion-plus"></i>
			</section>		

			<section class="mt-1">
				<div class="title-txt">Alert Type</div>
				<input type="text" class="full-w" placeholder="e.g All Alerts">
			</section>	

			<section class="mt-1">
				<div class="title-txt">Max Price</div>
				<input type="text" class="full-w" placeholder="e.g £250,000">
			</section>				

			<input type="submit" value="Add Alert" class="mt-1 btn btn-default fl-r full-w">							
		</form>
	</main>
