	<main role="main" ng-controller="NewCalculationController">


		<section class="mt-1 container new-calc">
			<tabset>
				<tab heading="Buy To Let">

					<section class="container calc-results trans-3" style="display:none;">
						<div class="w-3">
							Monthly Profit: <br><strong>£{{ mProfit | number:2 }} </strong>
						</div>
						<div class="w-3">
							Yearly Profit: <strong>£{{ yProfit | number:0 }} </strong>
						</div>
						<div class="w-3">
							Rate of Return: <strong>{{ rReturn | number:0 }}%</strong>
						</div>
					</section>
					<form action="" class="mb-2 container" ng-submit="letFormula()">

						<section class="mt-1">
							<div class="title-txt">Asking Price (£)</div>
							<input  name="asking" class="full-w number" placeholder="e.g 200000" ng-model="btl.asking" required>
						</section>

						<section class="mt-1">
							<div class="title-txt">Mortgage LTV (%)</div>
							<input  name="mortgage" class="full-w number" placeholder="e.g 75" ng-model="btl.mortgage" required>
						</section>

						<section class="mt-1">
							<div class="title-txt">Interest Rate (%)</div>
							<input  name="interest"  class="full-w number" placeholder="e.g 6" ng-model="btl.interest" required>
						</section>

						<section class="mt-1">
							<div class="title-txt">Monthly Rent (£)</div>
							<input  name="rent" class="full-w number" placeholder="e.g 1000" ng-model="btl.rent" required>
						</section>

						<section class="mt-1">
							<div class="title-txt">Management (%)</div>
							<input  name="manage" class="full-w number" placeholder="e.g 10" ng-model="btl.manage" required>
						</section>

						<section class="mt-1">
							<div class="title-txt">Maintenance (%)</div>
							<input  name="main" class="full-w number" placeholder="e.g 5" ng-model="btl.main" required>
						</section>

						<!--
						<section class="mt-1">
							<div class="title-txt">Maintenance %</div>
							<input type="text" class="full-w w-7" placeholder="e.g 10%">
							<i class="calc-btn ion-minus"></i>
							<i class="calc-btn ion-plus"></i>
						</section>
						-->

						<input type="submit" value="Calculate" class="mt-4 btn btn-success fl-r full-w mb-1" scroll-top>
					</form>
				</tab>

				<tab heading="Buy To Sell">
					<form action="" class="mb-2 container" ng-submit="sellFormula()">
						<section class="mt-1">
							<div class="title-txt">Asking Price (£)</div>
							<input  class="full-w number" placeholder="e.g 200,000" ng-model="bts.asking">
						</section>

						<section class="mt-1">
							<div class="title-txt">Mortgage LTV (%)</div>
							<input  class="full-w number" placeholder="e.g 75" ng-model="bts.mortgage">
						</section>

						<section class="mt-1">
							<div class="title-txt">Interest Rate (%)</div>
							<input  class="full-w number" placeholder="e.g 6" ng-model="bts.interest">
						</section>

						<section class="mt-1">
							<div class="title-txt">Holding Period (months)</div>
							<input  class="full-w number" placeholder="e.g 12" ng-model="bts.holding">
						</section>

						<section class="mt-1">
							<div class="title-txt">Refurbishment Cost (£)</div>
							<input  class="full-w number" placeholder="e.g 40,000" ng-model="bts.refurb">
						</section>

						<section class="mt-1">
							<div class="title-txt">Estimated Resale Price(£)</div>
							<input  class="full-w number" placeholder="e.g 220,000" ng-model="bts.resale">
						</section>

						<input type="submit" value="Calculate" class="mt-4 btn btn-success fl-r full-w mb-1">

						<div>
							Total Profit/Loss: <strong>£{{ totalPl | number:2 }} </strong><br>
							Return on Investment: <strong>{{ roi | number:0 }}% </strong>
						</div>
					</form>
				</tab>
			</tabset>
		</section>


	</main>
