<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Signup</title>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="description" content="Property Crunch - A Smarter Way to Buy" />
		<link rel="stylesheet" href="../../assets/css/style.css">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="assets/ico/favicon.png">	 
	</head>

	<body>
		
		<header role="banner">

			<div class="container ta-c">
				<a href="new.html"><i class="ion-chevron-left fl-l"></i></a>
				Sign Up (2 of 2)
			</div>

		</header>	

		<main class="container" role="main" style="max-width: 500px;">
			<div class="ta-c">
				<h1 class="m-0 mt-1 fw-n">Where are you looking to buy?</h1>
			</div>
			<form action="" class="mt-2 brad-4 reg-form">
				<section>
					<input type="text" placeholder="Location and Area" required>
				</section>
				<input type="submit" value="Done" class="mt-2 btn btn-default">

				<div class="mt-1 tac">
					By Clicking on 'Sign Up' you are agreeing to the <a href="/pc/views/tncs/privacypolicy.html">Privcy Policy</a> and <a href="/pc/views/tncs/terms.html">Terms of Conditions</a>.
				</div>
			</form>
		</main>
	</body>
</html>