

// Bricks
// --------------------------------------------------


// colors

.c-white {color: #fff;}
.c-grey {color: #838383;}

.c-red {color: #D42C2C;}
.c-orange {color: #FF6600;}
.c-yellow {color: #FFCC00;}
.c-green {color: #33CC33;}
.c-blue {color: #0066FF;}
.c-purple {color: #9966FF;}
.c-pink {color: #FF33CC;}
.c-brown {color: #663300;}

// layout

.full-w{ width: 100%;}
.full-h{ height: 100%;}

.fl-r{ float: right; }
.fl-l{ float: left; }

.cl-r {clear: right; }
.cl-l {clear: left; }
.cl {clear: both;}

.ta-r {text-align: right; }
.ta-l {text-align: left; }
.ta-c {text-align: center; }

.m-0 {margin:0;}
.mt-0_5 {margin-top: 0.5em;}
.mb-0_5 {margin-bottom: 0.5em;}

.pt-0_5 {padding-top: 0.5em;}
.pb-0_5 {padding-bottom: 0.5em;}

.tt-u{text-transform: uppercase;}

.pos-r{position: relative;}
.pos-f{position: fixed;}
.pos-a{position: absolute;}

$mb: mb !default;
$mt: mt !default;

$pb: pb !default;
$pt: pt !default;

@for $i from 0 through 10 {
	.#{$mb}-#{$i} {margin-bottom: 0em + $i;}	
	.#{$mt}-#{$i} {margin-top: 0em + $i;}

	.#{$pb}-#{$i} {padding-bottom: 0em + $i;}	
	.#{$pt}-#{$i} {padding-top: 0em + $i;}						
} 


// font

.fw-b{font-weight: bold;}
.fw-n{font-weight: normal;}

.fz-0_5 {font-size: 0.5em;}
.fz-1_5 {font-size: 1.5em;}


$fz: fz !default;
$p: p !default;

@for $i from 0 through 5 {
	.#{$fz}-#{$i} {font-size: 0em + $i;}	
	.#{$p}-#{$i} {padding: 0em + $i;}
} 


// transition

.trans-3 {transition: 0.3s;}


// General
// --------------------------------------------------


$pc-green: #35C07E;
$pc-grey-light: #f1f1f1;

body{
	background-color: $pc-grey-light;
	&.active{
		overflow-x: hidden;
	}
}

input {
	height: 2.5em;
	padding: 0.5em;	
	border: none;
	border-radius:0.2em;
}

.bgc-grey{background-color: $pc-grey-light}
.c-green{color: $pc-green;}

[role="banner"]{
	background-color: $pc-green;
	color: #fff;
	padding: 0.6em 0;
	@extend .fz-1_5; 
	text-transform: uppercase;	

	a{
		color: #fff;
	}

	[class*="ion-"] {
		padding-top: 0.2em;
		font-weight: bold;		
	}
}

.page-break{
	background: $btn-default-bg;
	font-size: 0.75em;
	padding: 5px 15px;
}

.btn-tap {
	border: 1px solid $pc-green;
	background-color: $white;
	font-size: 0.75em;
	@extend .c-green;
	@extend .tt-u;
	@extend .fw-b;

	&:hover{
		color: $pc-green;
	}

	&.active {
		background-color: $pc-green;
		color: $white;
	}
}

.btn-group{
	button{
		&:first-child{
			border-top-left-radius:2em;
			border-bottom-left-radius:2em;
		}

		&:last-child{
			border-top-right-radius:2em;
			border-bottom-right-radius:2em;
		}
	}
}

.dropdown-toggle { border-radius: 2em; }

.r-gap { margin-right: 5px; }

.sml-font{ font-size: 0.8em; }

.w-7{ width:76%;}
.w-5{ width:50%;}

.title-txt{
	@extend .tt-u;
	font-size: 0.7em;
	margin-bottom: 0.5em;	
}

.dropdown-menu{
	width: 95px;
	position: absolute;
}


// Navigation
// --------------------------------------------------


.left-nav {
	width: 12.5em;
	height: 100%;
	font-size: 1.2em;
	position: fixed;
	left: 0;
	z-index: 0;
	overflow: hidden;
	background-color: #f1f1f1;
	transition: 0.3s;

	[class*="ion-"]{
		margin-right: 0.7em;
		opacity: 0.4;
	}

	&.active{
		transition: 0.3s;
		background-color: #333;
	}
}

.wrapper{
	background-color: #f1f1f1;
	position: relative;
	width: 100%;
	min-height: 50em;
	z-index: 2;
	transition: 0.3s;
	position: relative;

	&.active{
		margin-left: 15em;
		position: fixed;
	}
}

[role="complementary"] {
	ul{
		padding:0;
		margin: 0;

		li{
			line-height: 3em;
			border-bottom: 1px solid #464646;
			padding-left: 1em;

			a{
				color: $white;
				&:hover{text-decoration: none;}
			}

			&.tncs{
				font-size: 0.65em;
				border-bottom: none;
				position: absolute;
				bottom: 10px;
				padding: 0;

				a{
					color: #838383;

					&:hover{
						color: #fff;
					}
				}
			}			
		}
		
	}
}

.logout-btn {
	background: rgba(80, 43, 43, 1);
	width: 100%;	
}


// Login
// --------------------------------------------------


body.login{
	background: url(../img/login-bg.jpg) no-repeat center center fixed; 
	background-size: cover;	
}

input{
	font-size: 1.1em;
}

.login-form {
	bottom: 1em;
	padding-right: 15px;	

	.btn{
		padding: 0.5em 1.5em;
	}
}

.forgot a{
	color: #fff;
	font-size: 0.9em;
	text-decoration: underline;
}

.login .container{
	max-width: 450px;
}

.forgot {
	color: #fff;

	[type="checkbox"] {
		height: auto;
		margin-right: 5px;
	}
}


// Register Page
// -------------------------------------------------


.reg-form {

	input{
		margin-bottom: 0.5em;
		@extend .full-w;	
	}
}

.tac{
	font-size: 0.9em;
	text-align: center;
}


// Dashboard
// -------------------------------------------------


.dash-bg {

	img {
		width: 100%;
		height: auto;
		position: relative;
		top: 0;
		left: 0;
		z-index: -1;
		margin-top: -10em;
		margin-bottom: -19em;

		@media (min-width:960px){
			max-height: 150px;
		}
	}	
}


.block{
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;	
}

.calc-btn{
	background: $pc-green;
	padding: 0.4em 0.6em;
	color: white;
	font-size: 1.4em;
	border-radius: 0.15em;
}

.dd-home{
	background: transparent;
	color: $white;
	border: 1px solid $white;	
}

#container {
   // width: auto;
    overflow: auto;
    white-space: nowrap;
}

.contents {
    width: 140px;
    height: 60px;
    display: inline-block;
	border-left: 2px solid white;
	margin-left: 1em;

}



// Calculations Page
// --------------------------------------------------


.new-calc {
	.nav-tabs {
		padding: 0 10px;
		li{
			@extend .btn-tap;
			@extend .ta-c;
			border-radius: 3px;
			width: 48%;
			float: left;
			a {color: $pc-green;}

			&.active a {color: $white;}

			&:first-child{margin-right: 10px;}
		}
	}
}


// Calculations Page
// --------------------------------------------------


.reg-form{
	.dropdown-menu{
		width: 96%;
	}
}


// Block UI
// -------------------------------------------------


.block-ui-overlay {
    z-index: 10001;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

body .block-ui {
	.block-ui-overlay, .block-ui-message-container {
	    position: fixed;
	}
}


.block-ui-overlay.block-ui-visible {
    background-color: #fff;
    opacity: 0.3;
}

.block-ui-message-container {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    z-index: 10002;
}

.block-ui-message {
    display: inline-block;
    text-align: left;
    background-color: $orangeAddvocate;
    color: $white;
    padding: 10px 30px;
    border-radius: 4px;
    border: 2px solid darken($orangeAddvocate, 15%);
}


// Modal Style
// --------------------------------------------------


.modal-content{
	background-color: #f1f1f1;
	border-radius:0;
}


