<main role="main">
	<section class="container mb-1">
		<h1 class="m-0 mt-1 " style="line-height: 30px;">Flat 8, 23 Beatrice Court, Buckhurst Hill, IG9 6</h1>
		<h2 class="c-green fw-n m-0 fz-3" style="padding: 3px 0;">£158,400</h2>
		<div class="w-5 fl-l"><strong>Property Type:</strong> Flat</div>
		<div class="w-5 fl-r"><strong>Room:</strong> 3</div>
	</section>

	<div class="page-break tt-u c-white mb-1">Change History</div>	

	<section class="container">

		<div class="c-grey sml-font">Price Change</div>
		<h2 class="m-0 mb-1">£158,400 17th April <span class="c-red">(<i class="ion-arrow-down-a"></i> 20%)</span></h2>	


		<div class="c-grey sml-font">First Listed</div>
		<h2 class="m-0 mb-1 fw-n">£198,000 17th April</h2>

	</section>


	<div class="page-break tt-u c-white ">Marketed By</div>	

	<section class="container mt-1 mb-3">
		<strong>AMBS Enterprise, Mayfair</strong> <br>
		11-12 North Audely Street, Mayfair, London, W1K6ZA <br>
		Tel: 0203 3244 607
	</section>	

	<section class="container mt-1">
		<div class="btn btn-success w-5">SAVE</div>
		<a ui-sref="New calculation" class="btn btn-default w-5">CALCULATE</a>
	</section>
</main>