<main role="main">
	<section class="container">
		<h1>23 High Road, Blackhurst Hill, IG9 6</h1>
		<h2 class="c-green">£168,000</h2>
		<h4>Property Type: Flat</h4>
		<h4>Room: 3</h4>
	</section>

	<div class="page-break tt-u fw-b c-white ">Change History</div>	

	<section class="container">

		<div class="c-grey sml-font">First Listed</div>
		<h2>£168,000 17th April</h2>

		<div class="c-grey sml-font">Price Change</div>
		<h2>£168,000 17th April</h2>	

	</section>


	<div class="page-break tt-u fw-b c-white ">Marketed By</div>	

	<section class="container">
		Some Company
	</section>	

	<section>
		<div class="btn btn-success">SAVE</div>
		<div class="btn btn-danger">CALCULATE</div>
	</section>
</main>